@use 'variables' as *;

@mixin primaryButton() {
	width: fit-content;
	padding: 0.5rem 1rem;
	display: inline-block;
	color: $gray1;
	text-transform: uppercase;
	background-color: $gray12;
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in;

	&:hover,
	&:focus {
		color: $gray1;
		background-color: $primary9;
	}
}
